*{
	padding:0;
	margin:0;
	outline: none;
	font-family: sans-serif;
}
html, body{
	width:100%;
	height:100%;
}
.container{
	width:90%;
	max-width:2500px;
	margin:0 auto;
}
.centralize{
	text-align:center;
}
.responsive-image{
    width:100%;
}
.btn-accept{
    background:linear-gradient(#5697ff, #1d62d1);
    padding:5px;
    border:none;
    color:white;
    cursor:pointer;
    width:5em;
}
.btn-reject{
    background:linear-gradient(#f14747, #830505);
    padding:5px;
    border:none;
    color:white;
    cursor:pointer;
    width:5em;
}
.btn-alert{
    background:linear-gradient(#f7d461, #ebb729);
    padding:5px;
    border:none;
    color:white;
    cursor:pointer;
    width:5em;
}
.menu-side{
    position:fixed;
    width:80%;
    max-width:350px;
    height:100%;
    left:-84%;
    top:0;
    transition:left 0.8s;
    background-color:rgb(20, 20, 20);
    box-shadow:2px 0 15px black;
    z-index:2;
}
.menu-side a{
    color:rgb(179, 179, 179);
    text-decoration: none;
    padding:10px;
    border-bottom:1px solid white;
    display:block;
}
.menu-side a:hover{
    background-color:rgb(179, 179, 179);
    color:black;
}
.menu-side-show{
    left:0;
    transition:left 0.4s;
}
.menu-side-show:after{
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(20,20,20,0.5);
    z-index:-1;
}
.menu-top{
    position:fixed;
    z-index:1;
    background-color:rgb(20, 20, 20);
    color:rgb(179, 179, 179);
    width:100%;
    height:40px;
    display:flex;
    justify-content:space-around;
    padding-top:10px;
}